{% extends 'base.html.twig' %}
{% form_theme formCP 'bootstrap_4_layout.html.twig' %}

{% block title %} - Mon compte{% endblock %}

{% block body %}
	<h1>Salut {{ app.user.nom }} ! </h1>
	<center>
		<div class="card" style="width: 80%">
			<h2 class="card-header">Changer le mot de passe</h2>
			{{ form_start(formCP) }}
			{{ form_widget(formCP) }}
			
			<center>
				<button type="submit" class="btn btn-success">
						Enregistrer les modifications
				</button>
			</center>
			{{ form_end(formCP) }}
		</div>
	</center>
{% endblock %}